<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>

    <style>
        body{
            background: #8cba4e;
            font-family: sans-serif;
        }

        footer{
            color: yellow;
        }
    </style>

</head>
<body>
    <h1>Tuirer</h1>
    <p>
        {% block body %}
        Hello.
        {% endblock %}
    </p>
    <footer>
        {% block footer %}
        Meu footer
        {% endblock %}
    </footer>
</body>
</html>